nav {
  z-index: 3;
}

.main-content-portfolio   {
    width: 100%;
    height: 668px;
    margin: 0 auto;
  
  }

  .gallery  {
    margin: auto;
    float: left;  
    z-index: 1;
    width: 100%
    padding: 20px;
    
} 

  .box {
    position: relative;
    padding: 0;
    float: left;
    z-index: 2;
    width: 250px;
    margin: 10px;
    display: inline-block;
    
  
}

  .placeHolder {
    position: relative;
    width: 100%;
    height: 150px;
    padding: 40px;
}

.placeName {
    font-family: 'Georgia', Times, Times New Roman, serif;
    position: absolute;
    background-color: #4aaaa5;
    width: 100%;
    height: 40px;
    top: 145px;
    bottom: 20px;
    left: 40px;
    text-align: center;
    font-size: 20px;
    color:  #ffffff;

}

/* Media Queries specific to portfolio */

@media (max-width: 960px){
  .box {
    width: 35%;
  }

  .main-content-portfolio{
    height: 850px;
    width: 730px;
    padding: 0;
  }

  .gallery {
    padding: 0px;
  }
}

@media (max-width: 768px){
  .box {
    width: 40%;
  }

  hr {
    width: 87.5%;
  }

}

@media (max-width: 640px){

  .main-content-portfolio{
    height: 1300px;
    width: 100%;
  }

  .gallery{
    width: 100%;
  }

  .box{
    display: inline-block;
    width: 85%;
    
  }

  .box img {
    vertical-align: middle;
  }

}